@import url(./font.css);
@import url('./normalize.css');
@import './mixin.scss';

* {
  scrollbar-width: 14px;
  scrollbar-color: #d4d5d9 #ffffff;
}

/* Работает в Chrome, Edge и Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #d4d5d9;
  border-radius: 20px;
  border: 3px solid #ffffff;
}

table {
  counter-reset: rowNumber;
}

table tbody tr {
  counter-increment: rowNumber;
}

table tr td:first-child::before {
  content: counter(rowNumber);
}

* {
  box-sizing: border-box;
}

.body {
  background: #f9f9fa;
  font-family: $font-family;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: auto;
  color: #2e3555;
}
#__next {
  position: relative;
}

.main {
  @include maxWidthLarge;
  padding: 0 40px;
  margin: auto;
  box-sizing: border-box;
}

.button {
  @include regularText;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
  width: 145px;
  padding: 0;
  transition: 0.5s;
  align-self: center;
  cursor: pointer;
  background: #118dff;
  border-radius: 8px;
  border: none;
}

.button:hover {
  @include hover;
}
@media screen and (max-width: 540px) {
  .body {
    background: #ffffff;
  }
  .main {
    padding: 0 16px;
  }
}
