@import './mixin.scss';

// Slider
.swiper_form {
  width: 100%;
  // height: 450px;
}

.fields {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
}

.fields_horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.fields_players {
  margin-top: 48px;
}
.input {
  width: 100%;
}

.label {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  width: 100%;
  column-gap: 24px;
}
.input:disabled {
  border: 1px solid rgba(212, 213, 217, 0.7);
  background: #f4f5f7;
  color: rgba(128, 133, 142, 0.75);
}

.input_horizontal {
  width: 100%;
}

.nicks_container {
  display: flex;
  // align-items: end;
  // flex-wrap: wrap;
  min-height: 36px;
  gap: 8px;
  margin-top: 8px;
}

.peace_container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content;
  min-height: 65px;
  gap: 4px;
}

.selected {
  margin: 0;
  @include semiBoldText;
}

.nicks {
  display: flex;
  gap: 4px;
  margin: 0;
  padding: 0;
}

.nick {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #118dff;
  background: #118dff;
  color: #fff;
  @include regularText;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
}

.nick_text {
  margin: 0;
  white-space: nowrap;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nick_button {
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(../images/icons/close_white.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s;
  cursor: pointer;
}
.nick_button:hover {
  @include hover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bullet_form {
  display: flex !important;
  gap: 5px;
  align-items: center;
}

.error {
  margin: auto;
  padding: 10px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.disabled_button {
  background: #ebefff;
  color: #118dff;
  cursor: default;
}

.disabled_button:hover {
  opacity: 1;
}

.submit:disabled {
  background: #ebefff;
  color: #118dff;
  cursor: default;
}

.submit:disabled:hover {
  opacity: 1;
}
